@import url(reset.css);

.milan-holidays {
    width: 1366px;
    height: 768px;
    background-image: url(../img/background.png);  
}

.info {
    width: 1030px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 46px;
    margin-right: 161px;
    margin-left: 177px;   
    margin-bottom: 17px;   
}

.info-logo {
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-white {
    width: 53px;
    height: 47px;
}

.logo-orange {
    opacity: 0;
    position: absolute;
    left: 0;
}

.info-logo:hover, .change-color:hover {
    opacity: 1;
    color: #F26522;
}

.logo-title {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 8px;
}

.logo-title > span {
    margin-left: 0;
    font-size: 18px;
}

.info-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.contact {
    color: #FFFFFF;
    text-decoration: none;
}

.tours-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 53px 60px;
    padding: 0;
    width: 1030px;
    padding-bottom: 48px;
    padding-left: 177px;
    padding-right: 161px;   
}

.tours-wrapper > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.tours-about {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
}
 
.image-link{
    position: relative;
}

.price-info {
    width: 299px;
    height: 55px;
    background-color: #F26522;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;

    display: grid;
    grid-template-areas:
    "info1 ."
    "info2 info3";
    opacity: 0;
    transition: 1s;   
}

.price-info1 {
    grid-area: info1;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px; 
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 7px;
}

.price-info2 {
    grid-area: info2;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 16px;
    margin-top: 8px;
}

.price-info3 {
    grid-area: info3;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 128px;
}

.price-info3::after{
    content: url(../img/Vector.png);
    margin-left: 16px;
}

.price-info:hover, .tours-about:hover{
    color: #F26522;
    opacity: 1;
}

.image {
    width: 300px;
    height: 220px;
}

.footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
